@import '~bootstrap/scss/bootstrap';

$body-bg-color: $gray-200;
$font-color: $light;

body {
  background-color: $body-bg-color;
}

.container {
  width: 400px;
}

.box {
  align-items: center;
  background-color: #a384e8;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
  font-size: 70px;
}

.alt-box {
  background-color: #7ec5ff;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 70px;
}

.border {
  border: 3px solid $black;
  margin: 20px;
  padding: 20px;
}

#pre-auth {
  display: initial;
}

#auth {
  display: initial;
}
