@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

$body-bg-color: $gray-200;
$font-color: $light;

body {
  background-color: $body-bg-color;
}

.container {
  width: 500px;
  border: 1px solid $black;
}

.box {
  align-items: center;
  background-color: #a384e8;
  border: 1px solid $black;
  color: $font-color;
  display: flex;
  justify-content: center;
  height: 166px;
  font-size: 75px;
  font-family: 'Permanent Marker', cursive;
}

.alt-box {
  background-color: #7ec5ff;
  border: 1px solid $black;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 80px;
  font-family: 'Permanent Marker', cursive;
}

.border {
  border: 3px solid $black;
  margin: 20px;
  padding: 20px;
}

.success {
  border: 3px solid green;
}

.failure {
  border: 3px solid red;
}

#game-info {
  align-items: center;
  background-color: #3b5cb8;
  border: 1px solid $black;
  color: $font-color;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-size: 20px;
}

#pre-auth {
  display: initial;
}

#auth {
  display: none;
}
