@import '~bootstrap/scss/bootstrap';

$body-bg-color: $gray-200;
$font-color: $light;

body {
  background-color: $body-bg-color;
}

.box {
  align-items: center;
  background-color: #ffa000;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  justify-content: center;
  width: 100px;
}

.border {
  border: 3px solid $black;
  margin: 20px;
  padding: 20px;
}

#pre-auth {
  display: initial;
}

#auth {
  display: none;
}
